@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a, h5{
  color: black;
  text-decoration: none;
  margin-top: 25px;
  text-align: center;
}

a.tocTitle:hover {
  text-decoration: none;
  -webkit-animation:rainbow 30s infinite;
-ms-animation:rainbow 30s infinite;
-o-animation:rainbow 30s infinite;
animation:rainbow 30s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

/* img {
padding: 0 30px 0 30px;
border-radius: 70px;
} */

@media only screen and (min-width: 750px) {
  img{
    width:100%
  }
}

h2, h4{
  text-transform: capitalize;
  color:black;
}

span{
  color: black;
}

hr{
 border: 1px solid rgb(0, 0, 0);
 margin-left: 250px;
 margin-right:250px
}

svg{
  font-size: 1.5rem;
  margin-right: 10px;
}

svg.mushrooms{
  color: rgb(255, 70, 70);
 list-style-image: linear-gradient(20);
}

svg.cannabis{
  color:#80ff00
}

svg.psych{
  color:blueviolet
}

svg.medical{
  color: red;
}

svg.pills{
  color: rgb(85, 85, 221);
}

svg.medicines{
  color:yellow
}

