.container{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border: 1px solid lightgray;
    padding: 40px 40px 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading{
  color: black;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

.allUsers {
    display: flex;
    flex-wrap: wrap;
  }
  
.firstDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


 /* .name{
  padding-left: 10px;
  text-transform:capitalize;
  text-align:center;
  font-size: x-large;
}  */ 

.btn{
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 19px;
  font-size: larger;
  background-color: rgba(205, 157, 250, 0.329);
}


  .userWrapper {
    margin: 40px;
  }
  
  .userImage {
    border-radius: 50%;
    margin: 5px 0;
  }
  
  .userInput {
    margin: 5px 0;
  }
  
  .userText {
    margin: 5px 0;
  }
  
