/* Fixed Sidebar
CSS Style Properties
CSS Positioning
Line Height
Z-Index */
.blogTocWrapper {
  background-color: lightgrey;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 120px;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  /* background-color: #aaa; */
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.headingsTocWrapper {
  display: none;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 120px;
}

.categoryWrapper {
  align-self: flex-start;
  padding-bottom: 40px;
  padding-left: 5px;
}

.articlesWrapper {
  font-size: 14px;
}

.categoryTitle {
  border-bottom: 1px solid lightgray;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
  padding-bottom: 5px;
  width: fit-content;
}

.articleTitle {
  line-height: 1.2;
  margin: 0 5px 12px 0;
}

.headingTitle {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.hamburgerMenu > div {
  border: 2px solid black;
  border-radius: 10px;
  margin: 3px;
  width: 50%;
}




@media only screen and (min-width: 950px) {
  .blogTocWrapper {
    display: block;
  }

  .headingsTocWrapper {
    display: block;
  }
}